.board-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  text-align: center;
}

button{
  color: black;
  border: 1px solid green;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
}

h4{
  text-align: center;
}